.videoCard{
margin: 10px;
margin-top: 0px;
width: 270px;


}
.videoCard__image{
    object-fit: contain;
    width: 270px;
    
}

.videoCard__avatar{
    border-radius: 360px;
    height: 30px;
}

.videoCard__info{
    display:flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoCard__thumbnail{
    height: 140px;
    width: 250px;
}

.videoCard__text{
    margin-left: 15px;
}
.videoCard__text>h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.videoCard__text>p{
    color: gray;
    font-size: 14px;
}